.wrapper.MessageItem {
  padding: 15px 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper.MessageItem .content-container {
  display: flex;
  flex-direction: column;
  max-width: 70%;
}
.wrapper.MessageItem .content-container .group-cn {
  text-align: left;
  box-sizing: border-box;
  display: inline-block;
  padding: 0 10px;
  color: #c9b2c9;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -10px;
  margin-bottom: 5px;
}
.wrapper.MessageItem .time {
  align-self: center;
  background-color: #dadada;
  color: #ffffff;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
  margin-bottom: 15px;
}
.wrapper.MessageItem .errText {
  margin-top: 10px;
  align-self: center;
  background-color: #dadada;
  color: #ffffff;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
}
.wrapper.MessageItem .content-box {
  display: flex;
  position: relative;
}
.wrapper.MessageItem .content-box .avatar-box img {
  display: block;
  width: 40px;
  height: 40px;
}
.wrapper.MessageItem .content-box .message-box {
  word-break: break-all;
  margin-left: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: relative;
}
.wrapper.MessageItem .content-box .message-box .message {
  padding: 10px 0;
  display: inline-block;
  word-break: break-all;
}
.wrapper.MessageItem .content-box .message-img-box {
  padding: 0 10px;
  position: relative;
}
.wrapper.MessageItem .content-box .message-img-box .pic {
  max-width: 200px;
}
.wrapper.MessageItem .content-box .message-img-box .mask {
  transition: all 0.5s;
  will-change: transform,opacity;
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper.MessageItem .content-box .message-img-box .mask .img {
  max-width: 100%;
  max-height: 100%;
}
.wrapper.MessageItem .content-box .message-img-box .mask .close {
  height: 50px;
  width: 50px;
  font-size: 30px;
  position: absolute;
  text-align: center;
  line-height: 50px;
  top: 0;
  right: 0;
  color: #ffffff;
  opacity: 0;
  transition: all 0.4s;
  cursor: pointer;
}
.wrapper.MessageItem .content-box .message-img-box .mask .close:hover {
  background-color: #ff1231;
  opacity: 1;
}
.wrapper.MessageItem .content-box .message-img-box .mask:not(.show) {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}
.wrapper.MessageItem .content-box .message-file-box {
  cursor: pointer;
  display: flex;
  position: relative;
  text-decoration: none;
  justify-content: space-between;
  border: 1px solid #ededed;
  margin: 0 10px;
  background-color: #ffffff;
  padding: 10px 10px;
}
.wrapper.MessageItem .content-box .message-file-box .preview {
  padding: 10px 0;
}
.wrapper.MessageItem .content-box .message-file-box .preview .prev-img {
  width: 50px;
}
.wrapper.MessageItem .content-box .message-file-box .detail {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.wrapper.MessageItem .content-box .message-file-box .title {
  width: 200px;
  color: #111111;
  text-overflow: ellipsis;
  overflow: hidden;
}
.wrapper.MessageItem .content-box .message-file-box .size {
  width: 200px;
  margin-top: 10px;
  color: #c9b2b2;
  font-size: 14px;
}
.wrapper.MessageItem .content-box .message-file-box .progress-box {
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: -1px;
  left: 0;
  font-size: 0;
}
.wrapper.MessageItem .content-box .message-file-box:hover {
  background-color: #f6f6f6;
}
.wrapper.MessageItem .content-box .message::before {
  content: "";
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid #fff;
  border-radius: 1px;
  position: absolute;
  top: 10px;
  left: -10px;
}
.wrapper.MessageItem .content-box .loading {
  position: absolute;
  width: 10px;
  height: 10px;
  border-style: dashed;
  border-width: 1.5px;
  border-color: transparent;
  border-right-color: #999999;
  border-top-color: #999999;
  border-radius: 50%;
  right: -20px;
  animation: loop 1s infinite linear;
  top: 40%;
}
@keyframes loop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wrapper.MessageItem .content-box .error {
  position: absolute;
  right: -25px;
  width: 21px;
  height: 21px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../icon/icon-message-error.png");
}
.wrapper.MessageItem.my > .content-box {
  flex-direction: row-reverse;
}
.wrapper.MessageItem.my > .content-box .message::before {
  content: none;
}
.wrapper.MessageItem.my > .content-box .message {
  display: inline-block;
  padding: 10px 0;
}
.wrapper.MessageItem.my > .content-box .message::after {
  content: "";
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #9eea6a;
  border-right: 5px solid transparent;
  border-radius: 1px;
  position: absolute;
  top: 10px;
  right: -10px;
}
.wrapper.MessageItem.my > .content-box .message-box {
  background-color: #9eea6a;
  margin-right: 10px;
}
.wrapper.MessageItem.my > .content-box .loading {
  right: auto;
  left: -20px;
}
.wrapper.MessageItem.my > .content-box .error {
  right: auto;
  left: -25px;
}
.wrapper.MessageItem.my .message-file-box {
  flex-direction: row-reverse;
}
.wrapper.MessageItem.my .group-cn {
  text-align: right;
}
.wrapper.MessageItem .group-notice {
  text-align: center;
  color: #409eff;
  cursor: pointer;
  font-size: 14px;
}
/*# sourceMappingURL=MessageItem.css.map */